*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{

  height: 100%;
  -webkit-overflow-scrolling:touch;
  /*兼容苹果手机滑动效果*/
}

.root{
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media(min-width:500px){
  .root{
    flex-direction:row;

  }
}
.LeftNav{
  background-color: green;
  width: 200px

}
.LeftNav h3{
  text-align: center;
  color: #fff;
  line-height: 2.1;
  font-size: 24px;
  border-bottom: 2px solid #fff;
  letter-spacing: 2px
}
.LeftNav a{
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.2;
  position:20px;
}
.LeftNav a:hover{
  background-color: rgba(0,0,0,0.3);
}
header{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background: -webkit-gradient(linear, 0 0, 0 90%, from(black), to(red));
  justify-content:space-between;
  padding: 0 5px;
}
header i{
  cursor: pointer;
}
footer{
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 90%, from(red), to(black));


}
footer a{
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  text-decoration: none;
  flex-grow: 1;
  color: #fff;

}
footer a:last-child{
  border-right: none;
}
.mywrap{
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
}
.home{
  width:100%;
  background-image: url(./img/1.jpg);
  background-size: cover;
  background-position: 35% 50%;
}
.home-cover{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home-cover a{
  font-size: 40px;
  text-decoration: none;
  display: block;
  width: 50%;
  margin: 0 auto;

}
.home-cover,h1,p{
  color:red;
  font-size: 30px
}
.blog-card{
  position: relative;
  width: 98%;

  margin: 10px auto;
}
.blog-index{
  background-color:red;
  color:#fff;
  text-align: center;
  line-height: 2.4;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.blog-desc {
  padding-left: 10px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.blog-desc p{
  font-size: 14px;
  opacity: 0.8;
}
.blog-desc h3{
  color:#cc0
}
.blog-desc a{
  padding: 10px 15px;
  display: block;
  background-color: #0cc;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 30%;
  margin:0 auto;

}
.blog-desc span{
  position: absolute;;
  right:10px;
  bottom: 5px;


}
